  <%- include('messages') %>

  <header class="header-bar mb-3">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">Node Wryter</a></h4>

      <% if (user) { %>
        <div class="d-flex align-items-center flex-row my-3 my-md-0">
          <a class="text-white mr-3 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">search</i></a>
          <span class="text-white mr-3 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">chat_bubble</i></span>
          <a href="/@<%= user.username %>" class="mr-3"><img loading="lazy" title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px;" src="<%= user.avatar %>"></a>
          <a class="btn btn-sm btn-success mr-3" href="/create-post">Create Post</a>
          <form action="/logout" method="POST" class="d-inline">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-sm btn-secondary">Sign Out</button>
          </form>
        </div>
      <% } else { %>
        <form action="/login" method="POST" class="mb-0 pt-2 pt-md-0">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="row align-items-center">
            <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
              <input name="username" class="form-control form-control-sm" type="text" placeholder="Username" autocomplete="off">
            </div>
            <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
              <input name="password" class="form-control form-control-sm" type="password" placeholder="Password">
            </div>
            <div class="col-md-auto">
              <button class="btn btn-primary btn-sm">Sign In</button>
            </div>
          </div>
        </form>
      <% } %>
    </div>
  </header>